<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fjut.cf.mapper.JudgeStatusMapper">
    <select id="queryStatusCountByDayAsc" resultType="com.fjut.cf.pojo.vo.StatusCountVO">
        SELECT COUNT(id) totalCount,
            SUM(result=1) acCount,
            DATE(submit_time) submitDay
            FROM t_judge_status
	        WHERE  submit_time >= DATE_SUB(NOW(), INTERVAL #{days} DAY)
            GROUP BY DATE(submit_time);
    </select>
</mapper>