<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fjut.cf.mapper.UserCheckInMapper">
    <insert id="insertUserCheckIn">
        INSERT INTO t_user_check_in
        (id,
        username,
        check_time,
        info,
        ip_address
        )
        VALUES
        (#{userCheckInPO.id},
        #{userCheckInPO.username},
        #{userCheckInPO.checkTime},
        #{userCheckInPO.info},
        #{userCheckInPO.ipAddress}
        );
    </insert>

    <select id="queryUserCheckInByUsernameDescLimit" resultType="com.fjut.cf.pojo.po.UserCheckInPO">
        SELECT
        id,
        username,
        check_time,
        info,
        ip_address
        from
        t_user_check_in
        WHERE username = #{username}
        LIMIT #{startIndex}, #{pageSize};
    </select>
</mapper>
