<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fjut.cf.mapper.UserCustomInfoMapper">

    <select id="queryUserCustomInfoByUsername" resultType="com.fjut.cf.pojo.UserCustomInfoPO">
        SELECT 	id,
        username,
        avatar_url,
        adjective_title,
        article_title
        FROM
        t_user_custom_info
        WHERE username = #{username}
    </select>
</mapper>