<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fjut.cf.mapper.ViewJudgeStatusMapper">
    <select id="queryViewJudgeStatusDescLimit" resultType="com.fjut.cf.pojo.po.ViewJudgeStatusPO">
        SELECT * FROM v_judge_status
        ORDER BY id DESC
        LIMIT #{startIndex}, #{pageSize};
    </select>

    <select id="queryViewJudgeStatusCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM v_judge_status;
    </select>
</mapper>